* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

dd {
  display: block;
  -webkit-margin-start: 40px;
          margin-inline-start: 40px;
}

.wrapper {
  width: 1291px;
  height: 2410px;
  background-color: lightblue;
  position: absolute;
  top: 11.7%;
  left: 16.4%;
  display: flex;
  flex-direction: row;
}

.search {
  width: 275px;
  height: 1073px;
  background-color: rgba(13, 103, 193, 0.2);
  position: absolute;
  top: -29px;
  right: 0;
  display: flex;
  flex-direction: column;
}
.search .sec1 {
  height: 227px;
  width: 257px;
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
}
.search .r2 {
  position: relative;
  top: 32px;
}
.search .r3 {
  position: relative;
  top: 64px;
}
.search .sec2 {
  position: absolute;
  top: 433px;
  display: flex;
  flex-direction: column;
}
.search .sec3 {
  position: absolute;
  top: 433px;
  display: flex;
  flex-direction: column;
}
.search .headP {
  position: absolute;
  top: 20%;
}
.search .sea {
  position: absolute;
  width: 273px;
  height: 44px;
  left: 0px;
  top: 0px;
  border: none;
  background: #FF5959;
  border-radius: 5px;
}
.search .rec {
  float: left;
  position: absolute;
  left: 5.8%;
  width: 65px;
  height: 65px;
  background-color: rgba(255, 0, 0, 0.65);
  border-radius: 5px;
}
.search .cir {
  float: left;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 0, 0, 0.65);
  border-radius: 15px;
}
.search .recInfo {
  position: absolute;
  left: 89px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #282F36;
}
.search .recNum {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #282F36;
}
.search .recDate {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #93969A;
  position: relative;
  top: 50px;
  left: 89px;
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 958px;
  height: 2410px;
  background-color: red;
}
.blog .desc {
  background-color: aqua;
  width: 589px;
  height: 258px;
}
.blog .desc .par {
  font-family: "DM Sans";
  font-style: normal;
  width: 1000px;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2rem;
}
.blog .desc .info {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333333;
}
.blog .author {
  background-color: lightcoral;
  width: 138px;
  height: 42px;
}
.blog .author .name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(40, 47, 54, 0.8);
}
.blog .author .num {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: rgba(40, 47, 54, 0.8);
}
.blog .author .date {
  position: absolute;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: rgba(40, 47, 54, 0.8);
}
.blog .cat1 {
  display: inline;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #686EF9;
}
.blog .cat2 {
  display: inline;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #686EF9;
}
.blog .p {
  width: 958px;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.blog .p .desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog .p .author {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog .p .author .upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blog .p .author .date {
  margin: 19px 0px 0px 53px;
}
.blog .p .imgmain {
  width: 312px;
  height: 350px;
  background: url(/img/Post\ photo\ \(1\).png);
}/*# sourceMappingURL=main.css.map */